
@page "{id:int}"
@model DeleteModel
@{
    ViewData["Title"] = "Remove Album";
}

<h2 class="text-info">Remove Album</h2>  

<p>Are you sure you want to delete <strong>@Model.Title</strong> album?</p>

<form method="post">
    <input type="hidden" asp-for="Id" />
    <button class="btn btn-outline-danger" type="submit">Yes</button>
    <a class="btn btn-outline-secondary" asp-page="./Index">No</a>
</form>
